
/*******Base styles******/
h1 {
  margin-bottom: 15px;
  text-align: center;
  color: red;
  font-size: 60px;
}
.row{
  margin-top: 5%;
  margin-bottom: 5%;
}

body{
  margin: 0;
  padding: 0;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

.col-lg-3{
  float: left;
  width: 33.33%;
}

.pa{
  border: 5px solid black;
  width: 90%;
  height: auto;
  margin: 2.5%;
  color: black
  font-size: 25px;
  padding: 2%;
  padding-top: 55px;
  background: #999999
}

.b
{
  width: 100%;
  overflow: none;
}

.content-name{
  overflow: none;
  text-align: center;
  border: 4px solid black;
  width: 100px;
  height: 40px;
  padding: 5px;
  float: right;
  margin-right: 5px;
  margin-top: 0px;
  font-weight: bold;
}

.n1{
  background-color: #d59898;
}


.n2{
  color: white;
  background-color: red;
}
.n3{
  background-color: #FFFF00;
}



/********** dekstop **********/
@media (min-width: 992px) {

  .col-lg-3{
    float: left;
  }

  .col-lg-3 {
    width: 33.33%;
  }

  .content-name{
  overflow: none;
  text-align: center;
  border: 4px solid black;
  width: 100px;
  height: 40px;
  padding: 5px;
  float: right;
  margin-right: 14px;
  margin-top: 0px;
  font-weight: bold;
}

}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px)
{
  .col-md-6,.col-md-12 {
  float: left;
  }
  

  .col-md-6
{
  width: 50%;
}
  .col-md-12 {
  width: 100%;
  }
}

  .con{
  overflow: none;
  text-align: center;
  border: 4px solid black;
  width: 100px;
  height: 40px;
  padding: 5px;
  float: right;
  margin-right: 20px;
  margin-top: 0px;
  font-weight: bold;
}

/******Small Devices******/
@media (min-width: 0px) and (max-width: 767px)
{
  .col-sm-12{
  float: left;
  width: 100%;
  }
}